* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

.home-page{
  background-image: url(https://templatemo.com/templates/templatemo_512_moonlight/img/first_bg.jpg);
  background-size: cover;
}
.home-menu{
  display: flex;
  flex-direction: column;
}